.Box_Erreur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .Titre_Erreur {
        font-size: 288px;
        font-weight: 700;
        color: #FF6060;
        margin: 15px;
    }
    .Text_Erreur {
        font-size: 36px;
        font-weight: 500;
        color: #FF6060;
        margin: 50px;
        
    }
    .Link_Erreur {
        font-size: 18px;
        color: black;
        margin: 50px;
    }
}
@media screen and (max-width: 768px) {
    .Box_Erreur {
      .Titre_Erreur {
        font-size: 96px;
      }
      .Text_Erreur {
        font-size: 18px;
        text-align: center;
      }
      .Link_Erreur {
        font-size: 14px;
      }
    }
  }