.Card_Appartement {
    display: flex;
    width: 30%;
    margin: 1%; 
}
.Appartement{
    display: flex;
    align-items:end;
    width: 100%;
    .Cover_Appartement {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 340px;
    border-radius: 25px;
}
.Titre_Appartement{
    position:absolute;
    display: flex;
    width: 190px;
    flex-wrap: wrap;
    font-size: 18px;
    margin: 15px;
    color: white;
}}