.Footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-top: 1%;
    left: 0;
    right: 0;
    bottom: auto;
    position: absolute;
    .Text_Footer {
        color: white;
        font-size: 24px;
        padding-top: 1%;
    }
}
@media screen and (max-width: 480px) {
    .Footer  {
        padding: 5%;
        img {
            width: 20%;
        }
        .Text_Footer {
            font-size: 12px;
            font-weight: 500;
        }
    }
}